.tab-content 
{
    width: 85%;
    height: auto;
    padding: 20px;
    text-align: center;
    background: #5779c8;
    box-shadow: 4px 4px 8px rgb(10, 22, 72);
    border-radius: 10px;
    font-family: 'DUBAI';
    font-weight: bold;
}

[data-tab-content]
{

    display: none;
}
.active[data-tab-content]
{
    display: block;
}


p
{
    color: rgb(13, 68, 156);
    font-size: 18px;
    padding-right: 10px;
    margin: 0px;
}


#icon
{
    border-radius: 10px;
    height: 200px;
}

h2{color: rgb(16, 58, 118);}

#title
{
    color: rgb(11, 44, 129);
    font-size: 25px;
}


#appName
{
    color: rgb(19, 41, 98);
    margin:0px;
}


#logo
{
    height: 50px;
}

a{color:rgb(20, 57, 151)}
a:hover{color:rgb(22, 68, 183)}

#info
{
    margin-top: 10px;
    color:rgb(36, 63, 132)
}

#features {
    text-align: right;
    color:rgb(10, 26, 96);
    font-size: 20px;
}   
li {color:rgb(21, 43, 141)}